@import '../node_modules/bootstrap/dist/css/bootstrap.css';

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Lemon', serif;
}

body {
    background-color: rgba(100, 100, 100, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(240, 238, 244, 0.09);
    height: 100vh;
}