#content {
    border: 5px solid black;
    max-width: fit-content;
    font-size: 2em;
}

.numeric_button {
    width: 25%;
}

.equals_button {
    width: 54%;
}

.operator_div {
    display: flex;
    flex-direction: column;
}

.numeric_div {
    border-right: 1px dashed rgba(20, 20, 20, .6);
}

.numeric_button,
.equals_button,
.operator_button {
    margin: 5px; 
}
