#content {
    border: 5px solid black;
    max-width: fit-content;
    font-size: 2em;
}

.numeric_button {
    width: 25%;
}

.equals_button {
    width: 50%;
}

.numeric_div, .operator_div {
    width: max-content;
}